.form-login {
  padding: 30px 20px 10px 20px;
  background: white;
  width: 100%; }
  .form-login h3 {
    text-align: center;
    padding-bottom: 5px; }

.center-pos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

input[type="text"], input[type="password"] {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc; }

input[type="submit"] {
  margin-top: 20px; }

.btn-place {
  text-align: center; }
