<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="No longer than 155 characters." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="assets/css/vendor.css" />

</head>

<body>
<div class="row">
    <h4>Your registration is being provisioned</h4>
    <h1>Please wait for a sec, an hours or maybe a days</h1>
</div>
</body>
</html>
